<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>
      <h2>７日間分の投稿数</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>６日前</th>
            <th>５日前</th>
            <th>４日前</th>
            <th>３日前</th>
            <th>２日前</th>
            <th>１日前</th>
            <th>今日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @books.created_6days.count %></td>
            <td><%= @books.created_5days.count %></td>
            <td><%= @books.created_4days.count %></td>
            <td><%= @books.created_3days.count %></td>
            <td><%= @books.created_2days.count %></td>
            <td><%= @books.created_yesterday.count %></td>
            <td><%= @books.created_today.count %></td>
          </tr>
        </tbody>
      </table>
      <canvas id="myLineChart"></canvas>
        <script>
          $(document).on('turbolinks:load', function() {
            var ctx = document.getElementById("myLineChart");
            var myLineChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
                datasets: [
                  {
                    label: '投稿した本の数',
                    data: [<%= @books.created_6days.count %>, <%= @books.created_5days.count %>, <%= @books.created_4days.count %>, <%= @books.created_3days.count %>, <%= @books.created_2days.count %>, <%= @books.created_yesterday.count %>, <%= @books.created_today.count%>],
                    borderColor: "rgba(0,0,255,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                  }
                ],
              },
              options: {
                title: {
                  display: true,
                  text: '7日間の投稿数の比較'
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMax: 10,
                      suggestedMin: 0,
                      stepSize: 1,
                      callback: function(value, index, values){
                        return  value
                      }
                    }
                  }]
                },
              }
            });
          });
        </script>
    </div>
  </div>
</div>
