<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, value: book.tag_list.join(','), class: 'form-control' %>
  </div>
  <div class="form-group" id="star">
    <%= f.label :star, "Rate" %>
    <%= f.hidden_field :star, id: :review_star%>
  </div>
  <script>
  // scriptファイルをどのidの部分に配置するかを指定
    let elem = document.querySelector('#star');
    let opt = {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
 　 　　  　scoreName: 'book[star]',
        half: false,
     };
    raty(elem,opt);
  </script>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
